@charset "UTF-8";

$cWhite:#fff;
$cBlack:#000;
$cOrange:#f90;
$cHover:#D9D9D9;
$cMenuButton: rgba($color: #000000, $alpha: 0.8);

/* 共通 */
body {
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
  line-height: 1.5;
}
p {
  text-align: justify;
}
a:hover {
  color: $cHover;
}
.button {
  width: 160px;
  display: block;
  text-align: center;
  color: $cWhite;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 100vh;
  background-color: $cBlack;
  box-shadow: $cHover 0 4px 0;

  &:active {
    transform: translateY(4px);
    box-shadow: none;
  }
}
img {
  width: 100%;
}
.section-box {
  margin: 160px auto;
}
.section-title {
  width: 90%;
  margin-left: auto;
  font-size: 40px;
  font-weight: bold;
  background-color: $cOrange;
  padding: 8px 40px;
  margin-bottom: 80px;
}
.section-contents {
  display: flex;
  width: 75%;
  margin: 0 auto;
  margin-bottom: 160px;
}
.contents-box {
  flex-direction: column;
  display: flex;
  justify-content: center;
}
.contents-text {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
}
.text-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.page-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* header */
.header {
  background-color: $cOrange;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: background-color .5s;
}
.header.header-change {
  background-color: rgba($color: $cWhite, $alpha: 0.8);
}
.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  padding: 20px 0;
}
.header-logo {
  display: flex;
  align-items: center;
  img {
    height: 40px;
  }
}

/* navi */
.grobal-navi {
  font-size: 24px;
  font-weight: bold;
}
.navi-list {
  display: flex;
}
.navi-item {
  margin-left: 40px;
}

/* main */
.main-visual {
  font-size: 88px;
  font-weight: bold;
  color: $cWhite;
  width: 100%;
  height: 100vh;
  background-image: url(/img/main\ visual.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.page-visual {
  font-size: 88px;
  font-weight: bold;
  color: $cWhite;
  width: 100%;
  height: 50vh;
  margin-top: 80px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
.concept-title {
  position: absolute;
  left: 5%;
  bottom: 10%;
}
/* about */
.about {
  justify-content: space-between;
  margin-left: 2rem;
  .text-title{
  text-align: start;
  }
}
.tuning,.trade {
  margin-left: 2rem;
}
.maintenance {
  margin-right: 2rem;
}

/* 下層ページ About */
.about-visual {
  background-image: url(/img/hv-about.jpg);
}
.about-box {
  margin: 80px auto;
  width: 75%;

  .text-title {
    text-align: start;
    font-size: 40px;
  }

  p {
    font-size: 1.2rem;
  }
}
.page-about {
  display: block;
}
.page-about_iv {
  width: 100%;
}
.page-about_title {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  h3 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }
}
.page-about_text {
  width: 96%;
  margin: 0 auto;
  font-size: 18px;
}
.flow {
  display: block;
}
.flow-box {
  background-color: $cOrange;
  border-radius: 10px;
  margin-bottom: 2rem;
}
.flow-box_inner {
  display:flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
}
.process {
  display: flex;
  justify-content: space-between;
  text-align: center;
  }
.process-block {
  border-left: 14vw solid #fff;
  border-top: 10vw solid transparent;
  border-bottom: 10vw solid transparent;
}
.process-item {
  position: relative;
  p {
    text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
}

/* Works */
.works {
  display: block;
  img {
    width: 100%;
  }
}
.works-text {
  flex-direction: column;
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;

  p {
    margin-bottom: 80px;
  }
}
.works-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 1rem;
}

/* 下層ページ Works */
.works-visual {
  background-image: url(/img/hv-works.jpg);
}
.page-works {
  margin-bottom: 80px;
  img {
    width: 100%;
  }
}

/* Used Cars */
.used-cars {
  display: block;
  width: 85%;
  margin: 0 0 0 auto;
}
.cars-list {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  margin-bottom: 80px;
}
.cars-list_item {
  margin: 0 auto;

  img {
    width: 30vw;
    padding: 0 32px 0 0;
  }
}
.car-name {
  font-weight: bold;
  margin-top: 1rem;
}

/* 下層ページ Used Cars */
.usedcars-visual {
  background-image: url(/img/hv-usedcars.jpg);
}
.page-usedcars {
  margin-bottom: 0;
}
.page-usedcars_list {
  flex-wrap: wrap;
  justify-content: space-between;
  overflow-x: hidden;
}
.page-usedcars_item {
  margin-bottom: 80px;

  img {
    width: 32vw;
    padding: 0;
  }
}
.page-usedcars_name {
  font-size: 24px;
}
.price {
  font-size: 40px;
}

/* 下層ページ Used Cars詳細ページ */
.usedcars-visual {
  background-image: url(/img/hv-usedcars.jpg);
}
.cars-ditail {
  flex-direction: column;
}
.cars-ditail_title {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  .page-usedcars_name {
    font-size: 32px;
    font-weight: bold;
  }
  p {
    text-align: right;
  }
}
.cars-mv {
  p {
    margin-top: 1rem;
  }
}
.cars-ditail_list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.cars-ditail_item {
  width: 36vw;
  margin-top: 40px;
}


/* 下層ページ Contact */
.contact-visual {
  background-image: url(/img/hv-contact.jpg);

}
.page-contact {
  flex-direction: column;
}
.contact-tel {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 80px;
  p {
    text-align: center;
  }
  a{
    color: $cOrange;
    font-size: 64px;
  }
}
.form-title {
  font-size: 32px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 40px;
}
.contact-table {
  width: 100%;
  margin-bottom: 40px;
}
.contact-item,
.contact-body {
  padding: 20px;
  border: 1px solid #ccc;
}
.contact-item {
  text-align: left;
  width: 30%;
  background-color: #eee;
}
.contact-body {
  width: 70%;
}
.form-text {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
}
.form-textarea {
  width: 100%;
  padding: 10px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #ccc;
  appearance: none;
}
.contact-submit {
  width: 160px;
  font-weight: bold;
  text-align: center;
  display: block;
  margin: 0 auto;
  padding: 12px 24px;
  border-radius: 100vh;
  border: 1px solid $cBlack;
  appearance: none;
  cursor: pointer;
}
/* Access */
.access {
  justify-content: space-between;
}
.company {
  font-size: 20px;
}
.company-name {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 2rem;
}
.access-map {
  width: 40vw;

  iframe {
    width: 100%;
    height: 100%;
  }
}

/* footer */
.footer {
  background-color: $cOrange;
  width: 100%;
}
.footer-inner {
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;
}
.footer-logo {
  img {
    width: auto;
    height: 40px;
  }
}
.footer-access {
  margin: 16px auto 40px;
}
.copyright {
  font-size: 8px;
  text-align: center;
}

/** 960px以下表示設定 **/
@media screen and (max-width: 960px) {
  /* 共通 */
  .section-box {
    margin: 80px auto;
  }
  .section-contents {
    flex-direction: column;
    margin-bottom: 80px;
  }
  .text-title {
    text-align: start;
  }
  /* header */
  .header {
    background-color: rgba($color: #000000, $alpha: 0);
  }
  .header-logo {
    img {
      height: 32px;
    }
  }
  .page-header {
    background-color: rgba($color: $cOrange, $alpha: 1);
  }
  /* grobal-navi */
  .grobal-navi {
    display: none;
  }
  /* ハンバーガーメニュー */
  .humburger-menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 20;
    height: 100vh;
    background-color: $cOrange;
    opacity: 0.95;
    transform: translateY(-100%);
    transition: all 0.3s;
  }
  .menu-list {
    width: 100vw;
    height: 100%;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    display: grid;
    align-content: center;
  }
  .menu-item {
    width: 100%;
    padding: 40px;
    font-weight: bold;

    a {
      font-size: 32px;
    }
  }
  .hm-button {
    position: fixed;
    top: 1px;
    right: 0;
    z-index: 130;
    height: 70px;
    padding-left: 10px;
    padding-right: 20px;
  }
  .button-lineTop {
    position: absolute;
    top: 15px;
    width: 40px;
    height: 6px;
    background-color: $cMenuButton;
    transition: all 0.3s;
  }
  .buttonIsOpen .button-lineTop {
    transform: translateY(16.5px) rotate(45deg);
  }
  .button-lineMedium {
    width: 40px;
    height: 6px;
    background-color: $cMenuButton;
    transition: all 0.3s;
  }
  .buttonIsOpen .button-lineMedium {
    opacity: 0;
  }
  .button-lineBottom {
    position: absolute;
    bottom: 15px;
    width: 40px;
    height: 6px;
    background-color: $cMenuButton;
    transition: all 0.3s;
  }
  .buttonIsOpen .button-lineBottom {
    transform: translateY(-16.5px) rotate(-45deg);
  }
  .menuIsOpen {
    transform: translateY(0);
  }
  .scroll-off {
    overflow: hidden;
  }
  /* main */
  .main-visual {
    height: 50vh;
    background-position: center;
    font-size: 64px;
  }
  .page-visual {
    margin-top: 72px;
    height: 30vh;
    font-size: 50px;
  }

  /* service */
  .contents-image {
    margin-bottom: 1rem;
  }
  .contents-text {
    p {
      margin-bottom: 40px;
    }
  }
  .about,.tuning,.maintenance,.trade {
    margin-left: auto;
    margin-right: auto;
  }
  /* works */
  .page-works {
    margin-bottom: 40px;
  }
  .works-text {
    p {
      margin-bottom: 40px;
    }
  }

  /* used cars */
  .cars-list {
    margin-bottom: 40px;
  }
  .cars-list_item img {
    width: 40vw;
  }

  /* 下層ページ about */
  .about-box {
    .text-title {
      font-size: 32px;
    }
  }
  .page-about_title {
    flex-direction: column;
    h3 {
    font-size: 32px;
    }
  }
  .reverse {
    flex-direction: column-reverse;
    }
  .process {
    flex-direction: column;
    grid-gap: 1rem;
    align-items: center;
  }
  .process-item {
    p {
      top: 40%;
      left: 50%;
    }
  }
  .process-block {
    border-top: 20vw solid $cWhite;
    border-bottom: none;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
  }
    /* 下層ページ used cars */
  .page-usedcars {
    margin-bottom: 0;
  }
  .page-usedcars_item img {
    width: 100%;
  }

  /* 下層ページ contact */
  .contact-tel {
    font-size: 30px;
    p {
      text-align: center;
    }
    a {
      font-size: 42px;
    }
  }
  .access {
    flex-direction: column-reverse;
  }
  .company {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
  .access-map {
    width: 100%;
    height: 300px;
  }
}

/* 520px以下表示設定 */
@media screen and (max-width: 520px) {
  /* ハンバーガーメニュー */
  .button-lineTop {
    top: 20px;
    width: 30px;
    height: 5px;
  }
  .buttonIsOpen .button-lineTop {
    transform: translateY(12px) rotate(45deg);
  }
  .button-lineMedium {
    width: 30px;
    height: 5px;
  }
  .button-lineBottom {
    bottom: 20px;
    width: 30px;
    height: 5px;
  }
  .buttonIsOpen .button-lineBottom {
    transform: translateY(-12px) rotate(-45deg);
  }

  /* 共通 */
  .section-box {
    margin: 40px auto;
  }
  .section-contents {
    margin-bottom: 40px;
  }
  .section-title {
    margin-bottom: 40px;
  }
  .main-visual {
    height: 30vh;
    background-position: center;
    font-size: 40px;
  }
  .page-visual {
    height: 16vh;
    font-size: 32px;
  }

  /* about */
  .page-about_title h3 {
    font-size: 24px;
  }
  .page-about_text {
    p {
      margin-bottom: 0;
    }
  }

  /* used-cars */
  .cars-list {
    margin-bottom: 0;
  }
  .page-usedcars_item {
    margin-bottom: 40px;
  }
  .cars-list_item {
    img {
    width: 56vw;
    }
  }
  .page-usedcars_item img {
    width: 100%;
  }
  .price {
    font-size: 30px;
  }

  /* cars-ditail */
  .cars-ditail_title {
    .page-usedcars_name {
      font-size: 24px;
    }

    p {
      font-size: 8px;
      text-align: right;
    }
  }

  /* contact */
  .contact-tel {
    font-size: 20px;
    margin-bottom: 40px;

    a {
      font-size: 30px;
    }
  }

  /* form */
  .form-title {
    font-size: 20px;
  }
  .contact-table {
    .contact-item,.contact-body {
    display: block;
    width: 100%;
    }
  }

  /* access-map */
  .company {
    font-size: 10px;
  }
  .company-name {
    font-size: 30px;
  }

  /* footer */
  .footer-logo img {
    width: auto;
    height: 32px;
  }
}

/* 961px以上のみの表示設定 */
@media screen and (min-width: 961px) {

  /* ハンバーガーメニュー */
  .hm-container {
    display: none;
  }
  .page-about_iv {
    width: 60%;
  }
  .page-about_title {
    grid-gap: 10vw;
  }
  .reverse {
    justify-content: end;
  }
}
